# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.iws
.DS_Store
*.swp
*.out
*.app
out/

# Kotlin
.kotlin/
.konan/
*.class
*.log

# Android
local.properties
*.apk
*.ap_
*.aab
*.dex
captures/
.externalNativeBuild/
.cxx/
lint/reports/
lint/intermediate/

# iOS
*.xcuserdata
*.xcworkspace
DerivedData/
Pods/
.cocoapods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa

# Nav Preprocessor output
output/

node_modules/
android/node_modules/
apps/manager-web/node_modules/
.env
**/.env